.container-fluid {
    padding: 0;
}

h1{
    text-align: center;
}


/* Navbar */
.navbar {
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav {
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

.add-div {
    background-color: #3476e2;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding:  8px;
    border-radius:  5px;
    margin-right: 25px;
}

.fas.fa-plus {
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}

/* Search */
.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
}

.search-div {
    position: relative;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

/* footer */
footer {
    background-color: #333;
    height: 300px;
    border-top:  2px solid #202020;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: aliceblue;
    text-align: center;
    top: 50%;
    position: relative;
}